<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.mdinteractivo.ganalealhuracan"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Ganale al Huracan</name>

    <description>
        App para promoción Ganale al Huracan
    </description>

    <author href="https://build.phonegap.com" email="fernando.olivera@mdinteractivo.net">
        MDInteractivo
    </author>

    <preference name="orientation" value="landscape" />

    <gap:platform name="ios" />

    <gap:plugin name="com.phonegap.plugin.statusbar" version="1.1.0" />

</widget>