<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.mdinteractivo.ganalealhuracan"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Ganale al Huracan</name>

    <description>
        App para promoción Ganale al Huracan
    </description>

    <author href="https://build.phonegap.com" email="fernando.olivera@mdinteractivo.net">
        MDInteractivo
    </author>

    <preference name="orientation" value="landscape" />
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="UIWebViewBounce" value="false"/>

    <gap:platform name="ios" />

    <gap:plugin name="com.phonegap.plugin.statusbar" version="1.1.0" />
    <gap:plugin name="org.apache.cordova.network-information" version="0.2.12" />


    <!-- iPad -->
    <icon src="http://www.ganalealhuracan.com/ipad/resources/icons/icon-76.png" gap:platform="ios" width="76" height="76" />
    <icon src="http://www.ganalealhuracan.com/ipad/resources/icons/icon-76@2x.png" gap:platform="ios" width="152" height="152" />
    <!-- Settings Icon -->
    <icon src="http://www.ganalealhuracan.com/ipad/resources/icons/icon-small.png" gap:platform="ios" width="29" height="29" />
    <icon src="http://www.ganalealhuracan.com/ipad/resources/icons/icon-small@2x.png" gap:platform="ios" width="58" height="58" />
    <!-- Spotlight Icon -->
    <icon src="http://www.ganalealhuracan.com/ipad/resources/icons/icon-40.png" gap:platform="ios" width="40" height="40" />
    <icon src="http://www.ganalealhuracan.com/ipad/resources/icons/con-40@2x.png" gap:platform="ios" width="80" height="80" />



 
    <!-- iPad -->
    <gap:splash src="http://www.ganalealhuracan.com/ipad/resources/splash/Default-Landscape.png" gap:platform="ios" width="1024" height="768" />
    <!-- Retina iPad -->
    <gap:splash src="http://www.ganalealhuracan.com/ipad/resources/splash/Default-Landscape@2x.png" gap:platform="ios" width="2048" height="1536" />

    
</widget>